:root {
    --work-color: #DE5233;
    --break-color: #84EBB9;
    --rest-color: #6CDACA;
}

.timer {
    text-align: center;
    margin-top: 100px;
    background-color: var(--break-color);
    padding: 20px;
    border-radius: 10px;
}

.time-display {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.status {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.status.working {
    background-color: var(--work-color);
}

.status.break {
    background-color: var(--break-color);
}

.status.rest {
    background-color: var(--rest-color);
}